@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-Light.ttf) format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-display: swap;
}