$accentColor: #FC9B09;
$primaryColor: #fff;
$secondaryColor :#37373f;
$textColor: #b3b3b3;
$linkColor: #5286ec;

%container {
    width: 100%;
    padding: 0 15px;
    @media screen and (min-width: 576px) {
        padding: 0 35px;
    }
    @media screen and (min-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1140px;
        padding: 0;
        margin: 0 auto;
    }
}