.blog {
    background: #F5F8FF;
    padding: 105px;
    padding-bottom: 203px;
    &-subtitle {
        margin-bottom: 40px;
    }
    &__top {
        margin-bottom: 92px;
    }
    &__title {
        @include text (24px, 500, 30px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__subtitle {
        @include text (10px, 500, 12px, #3D4F9F);
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }
    &__wrapper {
        padding: 63px 41px 64px 35px;
        max-width: 958px;
        width: 100%;
        background-color: white;
        border: 1px solid #D8E3FE;
        margin: 0 auto;
        display: flex;
        column-gap: 50px;
        flex-wrap: wrap;
        @media screen and (max-width: 1220px) {
            justify-content: center;
        }
    }
    &__slider {
        height: 394px;
    }
    &__row-icon {
        background-image: url(/assets/images/blog/left-arrow.svg);
        width: 27px;
        height: 19px;
        &--right {
            background-image: url(/assets/images/blog/right-arrow.svg);
            width: 27px;
            height: 19px;
        }
    }
    &__row {
        left: -95px;
        &--right {
            right: -95px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 270px 127px;
        grid-template-rows: 127px 127px;
        gap: 11px;
        row-gap: 13px;
    }
    &__box {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 13px;
    }
    &-img {
        object-fit: cover;
        border-radius: 5px;
        // grid-area: 1/1/3/2;
    }
    &-img--big {
        width: 267px;
        height: 267px;
    }
    &-img--sm {
        width: 127px;
        height: 126px;
    }
    // &-img--sm:first-child {
    //     margin-bottom: 14px;
    // }
    // &-pic {
    //     margin-right: 13px;
    // }
    &__content {
        max-width: 408px;
        display: flex;
        flex-direction: column;
    }
    &__heading {
        @include text (36px, 400, 45px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 32px;
    }
    &__text {
        @include text (14px, 400, 27px, #8D96BD);
        display: block;
        max-width: 408px;
        margin-bottom: 40px;
    }
    &-btn {
        font-size: 13px;
        line-height: 16px;
        border-radius: 2px;
        font-family: 'Quicksand', sans-serif;
        height: 43px;
        &--blue {
            width: 113px;
            margin-right: 8px;
            color: #3A79FF;
            background-color: #D2E1FF;
            border: none;
        }
        &--white {
            width: 211px;
        }
    }
    &__carousel {
        bottom: -122px;
    }
    &__carousel li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 5px;
        margin-left: 5px;
    }
}