.diagram {
    padding-top: 37px;
    background: url(../images/diagram/group-left.svg) left no-repeat, url(../images/diagram/group-right.svg) right no-repeat, linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    position: relative;
    &__indicators li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 5px;
        margin-left: 5px;
    }
    &__item {
        padding-top: 65px;
        height: 540px;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 16px;
    }
    &__title {
        @include text (48px, 300, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 28px;
    }
    &__wrap {
        position: static;
    }
    &__span {
        @include text (48px, 500, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__text {
        max-width: 502px;
    }
    &__row-center {
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        width: 52px;
        height: 52px;
        margin: 0 auto;
    }
    &__main {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__point1,
    &__point2,
    &__point3,
    &__point4 {
        cursor: pointer;
    }
    &__baloon1,
    &__baloon2,
    &__baloon3,
    &__baloon4 {
        opacity: 0;
    }
    &__point1:hover+&__baloon1,
    &__point2:hover+&__baloon2,
    &__point3:hover+&__baloon3,
    &__point4:hover+&__baloon4 {
        opacity: 1;
        transition: 700ms;
    }
}