.newsletter {
    padding-top: 120px;
    padding-bottom: 119px;
    border-bottom: 1px solid #D8E3FE;
    &__title {
        @include text (18px, 700, 22px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 18px;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        @include text (14px, 400, 27px, #8D96BD);
        letter-spacing: 0.03em;
        width: 330px;
    }
    &__content {
        margin-right: 80px;
    }
    &__mail {
        width: 279px !important;
        height: 59px;
        background: #EFEFF7;
        border-radius: 5px;
        @include text (13px, 700, 16px, #7A85AD);
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }
    &__btn {
        width: 184px;
        height: 59px;
        background: #4D6CE1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        @include text (13px, 700, 16px, #FFFFFF);
        font-family: 'Quicksand', sans-serif;
    }
}