.plan {
    padding-top: 210px;
    padding-bottom: 240px;
    background-color: #F5F8FF;
    &__content {
        @media screen and (max-width: 1220px) {
            margin: o auto;
        }
    }
    &__title {
        @include text (36px, 500, 45px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 27px;
    }
    &__span {
        @include text (36px, 400, 45px, #3D4F9F);
    }
    &__subtitle {
        @include text (10px, 500, 12px, #3D4F9F);
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 27px;
    }
    &__text {
        @include text (15px, 400, 29px, #8D96BD);
        letter-spacing: 0.03em;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 47px;
    }
    &__btn {
        width: 130px;
        height: 43px;
        font-size: 13px;
        line-height: 16px;
        font-family: 'Quicksand', sans-serif;
        border-radius: 2px;
        &--blue {
            font-weight: 700;
        }
        &--light {
            font-weight: 500;
            color: #ADB4D2;
            border: 1px solid #AEAEBF;
        }
    }
    &__gallery {
        position: relative;
    }
    &__img {
        position: absolute;
        top: -240px;
        left: -130px;
         @media screen and (max-width: 1380px) {
            display: none;
         }
    }
}   