.quotes {
    padding-top: 109px;
    padding-bottom: 138px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 31px;
    }
    &__title {
        @include text (36px, 500, 45px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 14px;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        @include text (12px, 600, 22px, #A4ABC8);
        letter-spacing: 0.03em;
        max-width: 323px;
    }
    &__indicators li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 8px;
        margin-left: 8px;
    }
    &__indicators {
        // bottom: -125px;
        position: absolute;
        bottom: -46px;
        left: 20px;
    }
    &__carousel-inner {
        height: 245px;
        // margin-left: 30px;
    }
    &__wrapper {
        padding: 35px 55px 42px 67px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        position: relative;
        // padding: 41px 71px 53px 69px;
    }
    &__review {
        max-width: 283px;
        font-family: 'Roboto', sans-serif;
        @include text (14px, 400, 24px, #676F95);
        letter-spacing: 0.03em;
    }
    &__img {
        width: 62px;
        height: 62px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50%;
        position: absolute;
        bottom: -33px;
        left: 45%;
        z-index: 1;
    }
}


.carousel-indicators {
    bottom: -68px !important;
}

.carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
    border:50% !important;
    margin-left: 12px !important;
    background-color:#D1D6E3 !important;
}

.carousel-indicators .active {
    background-color:#5283FF !important;
}