.started {
    padding-top: 92px;
    padding-bottom: 110px;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    .container{
        background-image: url(/assets/images/started/blue-clouds.svg);
        height: 319px;
        width: 1297px;
        margin: 0 auto;
        @media screen and (max-width: 575px) {
            max-width: 410px;
        }
        @media screen and (max-width: 360px) {
            max-width: 300px;
        }
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #FFFFFF);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__title {
        @include text (48px, 300, 60px, #FFFFFF);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 28px;
        @media screen and (max-width: 576px) {
            @include text (35px, 300, 60px, #FFFFFF);
        }
    }
    &__span {
        @include text (48px, 500, 60px, #FFFFFF);
        font-family: 'Quicksand', sans-serif;
        @media screen and (max-width: 576px) {
            @include text (35px, 500, 60px, #FFFFFF);
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        @include text (15px, 400, 29px, #FFFFFF);
        letter-spacing: 0.03em;
        max-width: 712px;
        text-align: center;
        margin-bottom: 28px;
        @media screen and (max-width: 576px) {
            max-width: 300px;
        }
    }
    &__btn {
        height: 43px;
        border-radius: 2px;
        text-align: center;
        &--white {
            width: 130px;
            box-shadow: 0px 5px 15px #6480E8;
            background: #FFFFFF;
            @include text (13px, 700, 16px, #565F82);
            font-family: 'Quicksand', sans-serif;
            @media screen and (max-width: 576px) {
                margin-bottom: 15px;
            }
        }
        &--blue {
            width: 175px;
            border: 1px solid #A0B4FF;
            @include text (13px, 500, 16px, #C7D3FF);
            font-family: 'Quicksand', sans-serif;
        }
    }
}


.started__btn-group {
    @media screen and (max-width: 576px){
    align-items:center !important;
    }
}