.header {
    &__container {
        max-width: 1255px !important;
        padding-top: 10px;
    }
    &__logo {
        width: 26px;
        height: 26px;
        background: #5E81FE;
        border-radius: 50%;
    }
    &__btn {
        font-family: 'Quicksand', sans-serif;
        @include text (13px, 700, 16px, #3A79FF);
        background-color: #D2E1FF;
        border-radius: 2px;
        width: 113px;
        height: 43px;
        text-align: center;
        margin-left: 18px;
    }
    &__social {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:nth-child(3) {
            .header__icon {
                width: 26px;
                height: 22px;
            }
        }
    }
    &__icon {
        fill:#B6BAC7; 
        width: 19px;
        height: 17px;
    }
    &__icon:hover {
        fill: #6188FF;
    }
}